# {{ ansible_managed }} --
username quagga nopassword
!
service integrated-vtysh-config
!
hostname {{ ansible_fqdn }}
!
interface br-ex
 link-detect
!
interface br-int
 link-detect
!
interface br-tun
 link-detect
!
interface eth0
 link-detect
!
interface eth1
 link-detect
!
interface eth2
 ipv6 nd ra-interval 5
 link-detect
 no ipv6 nd suppress-ra
!
interface eth3
 ipv6 nd ra-interval 5
 link-detect
 no ipv6 nd suppress-ra
!
interface lo
 link-detect
!
interface ovs-system
 link-detect
!
line vty
!
