! {{ ansible_managed }}
!
hostname {{ ansible_fqdn }}
!
interface br-ex
 link-detect
!
interface br-int
 link-detect
!
interface br-tun
 link-detect
!
interface eth0
 link-detect
!
interface eth1
 link-detect
!
{% for bgp_int in bpg_interfaces %}
interface {{ bgp_int }}
 ipv6 nd ra-interval 5
 link-detect
 no ipv6 nd suppress-ra
!
{% endfor %}
interface lo
 link-detect
!
interface ovs-system
 link-detect
!
ip forwarding
!
line vty
!
